    body{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #1f5c1f;
    }
    .login{
         
        margin-bottom: px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #589a29;
        width: 400px;
        height: 200px;
       border: 2px solid #ccc;
        border-radius: 20px;
        

    }
